:root {
    --surface: #f7f3e9;
    --text: #33322f;
    --link: #fcedae;
    --visited: #b3ac89;
    --shadow: #ada69c;
    --link-light-surface: #b4995e;
    --visited-light-surface: #7c683b;

    font-family: monospace, Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Odin";
    src: local("Odin"), 
         url("fonts/Norse-Bold.otf") format("opentype");
}

body {
    height: 100vh;
    width: 100vw;

    color: var(--text);
    background-color: var(--surface);

    display: flex;
}

figure {
    height: max(100vh, 600px);
    width: min(calc(max(100vh, 600px) * 2/3 ), 50vw);
    overflow: hidden;
    flex-shrink: 0;
}

#logo {
    position: absolute;
    width: min(calc(max(100vh, 600px) * 2/3 ), 50vw);
    left: 0;
    top: max(30vh, 200px);
    height: max(20%, 160px);

    font-family: "Odin", Arial, Helvetica, sans-serif;
    font-size: 10rem;
    color: var(--surface);
    background-color: rgba(0,0,0,20%);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#logo img {
    height: max(90%, 36px);
    width: auto;
    color: var(--surface);
}

@media (max-width: 763px) {
    #logo {
        height: max(40%, 320px);
    }
    
    #logo img {
        height: max(45%, 36px);
        width: auto;
    }
}

img {
    height: max(100vh, 600px);
    width: calc(max(100vh, 600px) * 2/3 );
}

figcaption {
    position: absolute;
    top: max(95vh, 570px);
    left: 0;
    width: min(calc(max(100vh, 600px) * 2/3 ), 50vw);
    text-align: center;

    color: var(--surface);
}

figcaption a:link {
    color: var(--link);
}


figcaption a:visited {
    color: var(--visited);
}

main {
    background-color: var(--surface);
    flex-basis: calc(100vw - calc(max(100vh, 600px) * 2/3 ));
    flex-grow: 1;
    height: max(100vh, 600px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 5rem;
}

.font_4rem {
    font-size: 4rem;
}

.pad_bottom {
    padding-bottom: 2rem;
}

form {
    margin-left: -5rem;
    margin-right: -5rem;
    margin-top: 2rem;
    padding: 0 5rem;
    box-shadow: 0 3px 5px var(--shadow);
}

form h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.form_main {
    border: none;
    padding: 1rem 0;
}

.form_main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

label {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

.label-text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid var(--text);
    background-color: var(--surface);
    border-radius: 4px;
}

form button {
    padding: 1rem 4rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text);
    background-color: var(--text);
    color: var(--surface)
}

form button:hover {
    background-color: var(--surface);
    color: var(--text);
}

form button:active {
    filter: brightness(0.8);
}

.form_submits {
    margin: 1rem 0 1.5rem 0;
    
    display: flex;
    align-items: end;
    justify-content: flex-start;
    gap: 2rem;
}

.form_submits span {
    margin-bottom: 0.5rem;
}

.form_submits a:link {
    color: var(--link-light-surface);
}

.form_submits a:visited {
    color: var(--visited-lightlink-surface);
}